In [7]:
import pandas as pd
file_path = "./my_test.csv"
#构建一个DataFrame 数据库
df1 = pd.DataFrame({"time":["12.00","14.00"],"action":["lanch","work"]})

#把构建好的DataFrame 写入到csv文件中
df1.to_csv(file_path)

#从csv文件中读取DataFrame数据
df2 = pd.read_csv(file_path,index_col = 0)

#DataFrame 数据写入到csv文件
df2.to_csv(file_path)
#从csv文件中读取DataFrameS数据
df3 = pd.read_csv(file_path)

In [8]:
df1

    time action
0  12.00  lanch
1  14.00   work

In [10]:
df2

   time action
0  12.0  lanch
1  14.0   work

In [12]:
#inplace = True 直接在原数据删除，无法返回
#df2.drop("Unnamed: 0",axis = 1)

In [13]:
df3

   Unnamed: 0  time action
0           0  12.0  lanch
1           1  14.0   work

In [57]:
df3.drop(columns = ["Unnamed: 0","Unnamed: 0.1"])

   time action
0  12.0  lanch
1  14.0   work

In [58]:
df3

   Unnamed: 0  Unnamed: 0.1  time action
0           0             0  12.0  lanch
1           1             1  14.0   work