# 第2次

嗨，大家好。以下是第2次的小任务：

1、本地启用 jupyter，创建你的notebook文件

本地启动 jupyter lab 或jupyter notebook，并创建一个 python3 的notebook（创建完成后，是一个.ipynb文件）。

如果你没有设备，直接在xue.cn网页上进入 任意一本编程类的书，点击+新建cell也可以，但那样的话，无法保存，你自己没有记录了。

2、作为引子的脚本：

下面这个脚本，处理csv文件读写，请在你的notebook文件中手动敲一遍，并运行成功。同时理解每一行代码、每一个函数是做什么的。

3、阅读材料：

[《跟老齐学python：数据分析》](https://xue.cn/hub/app/books/20 ) 的 第 2 章 文件读写操作的 csv 这一部分。通读数遍，**不需要死记硬背**。

阅读过程中，请在你的notebook文件中试试敲敲代码，随手记一些注释、想法之类。也可以试着改写一些代码。


4、额外作业（学有余力再尝试）：

4.1 实操

把你平时用到的excel 文件（数据量越大越好），拷贝一份并另存一份为 csv 文件，然后**默写**读取该文件的代码，并发到群内。

**默写**不出来，就多敲几次吖。

不需要尝试复杂的，先打通以上几步就可以。本part的文件和代码以后都还用得上。


4.2 思考、对比、实操

你了解/掌握python 中哪些读写文件（可以涉及不同文件类型）的方式？可以试着把它们整理出来，也可以试试**默写**所掌握的方法并保证代码通畅可行。

In [1]:
import pandas as pd

# 文件地址、文件名等可变数据，最好放在 导入区域下方、正式代码上方，赋值给一个变量来存储，而不是直接把文件地址信息写进下方代码。
file_path = './my_test.csv'  

# 构建一个 dataframe 数据结构。可以暂时不深究 dataframe 这个数据结构到底是什么。
df1 = pd.DataFrame({
    'time':['12:05','14:03'],
    'action':['lunch','work']
})

# dataframe 数据写入 csv 文件
df1.to_csv(file_path)

# 从 csv 文件读取 dataframe 数据
df2 = pd.read_csv(file_path)

# dataframe 数据写入 csv 文件
df2.to_csv(file_path)

# 从 csv 文件再次读取 dataframe 数据
df3 = pd.read_csv(file_path)

In [2]:
# jupyter notebook 让我们可以直接输入一个变量，运行cell就可打印它的值
df1

    time action
0  12:05  lunch
1  14:03   work

In [3]:
df2

   Unnamed: 0   time action
0           0  12:05  lunch
1           1  14:03   work

In [10]:
df3

   Unnamed: 0  Unnamed: 0.1   time action
0           0             0  12:05  lunch
1           1             1  14:03   work

如果你已经完成了阅读材料的学习，那么请再次查找材料，找到 不显示 unnamed: 这列的方法吧~